# JWT compartido entre todos los microservicios
JWT_SECRET=

# Base de datos (IP de la VM de BDs)
DB_HOST=<ip-vm-bds>
DB_USER=readme
DB_PASSWORD=readme123

# MongoDB (URL completa apuntando a la VM de BDs)
MONGO_URL=mongodb://<ip-vm-bds>:27017/reviews_db

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM=ReadMe <onboarding@resend.dev>

# S3 compartido entre ms1-users y ms2-books (fotos de perfil y de libros)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# S3 del ms de analytics
ANALYTICS_AWS_ACCESS_KEY_ID=
ANALYTICS_AWS_SECRET_ACCESS_KEY=
ANALYTICS_AWS_REGION=
ANALYTICS_AWS_BUCKET_NAME=
